@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Shopping Cart";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Cart Page</h3>
    <table class="table" cellpadding="1" cellspacing="2" border="1">
        <tr>
            <th>Option</th>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
        @if(ViewBag.cart != null)
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">Remove</a></td>
                <td>@item.Product.Id</td>
                <td>@item.Product.Name</td>
                <td><img src="https://localhost:44368/img/@(item.Product.ProductCategory.Department)/@(item.Product.Name).jpg" style="height: 50%; width: 50%; align-self: center; padding-top: 10px"> </td>
                <td>@item.Product.DefaultPrice</td>
                <td>@item.Quantity</td>
                <td>@(item.Product.DefaultPrice * item.Quantity)</td>
            </tr>
        }
        <tr>
            <td align="right" colspan="6">Sum</td>
            <td>
                @ViewBag.total
            </td>
        </tr>
    </table>
    <br>

    <div class="container d-flex justify-content-around">
        <div class="col-lg-3">
            <a asp-controller="product" asp-action="index">Continue Shopping</a>
        </div> 
        <div class="col-lg-3">
            <a asp-controller="checkout" asp-action="index" asp-route-id=""
               type="button" class="btn btn-primary" style="float: inline-end">
                Checkout
            </a>
        </div>
    </div>


</body>
</html>